# .dockerignore

# Exclude git repository files
.git
.gitignore

# Exclude the Python virtual environment
venv
*/venv

# Exclude Python cache files
__pycache__
*.pyc
*.pyo

# Exclude local development files
# You might have other specific files to add here
*.local