.DS_Store
__pycache__/db.cpython-313.pyc
forms/__pycache__/__init__.cpython-313.pyc
forms/__pycache__/course_forms.cpython-313.pyc
forms/__pycache__/auth_forms.cpython-313.pyc
models/__pycache__/user.cpython-313.pyc
models/__pycache__/__init__.cpython-313.pyc
routes/__pycache__/__init__.cpython-313.pyc
routes/__pycache__/login_routes.cpython-313.pyc
routes/__pycache__/register_routes.cpython-313.pyc
routes/Admin_Portal/__pycache__/admin_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/__init__.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/agency_staff_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/announcement_mgmt_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/course_mgmt_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/dashboard_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/employee_mgmt_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/job_offer_mgmt_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/leaderboard_routes.cpython-313.pyc
routes/Agency_Staff_Portal/__pycache__/sales_manager_portal.cpython-313.pyc
routes/Website/__pycache__/__init__.cpython-313.pyc
routes/Website/__pycache__/homepage_routes.cpython-313.pyc
routes/Website/__pycache__/job_board_routes.cpython-313.pyc
routes/Website/__pycache__/public_routes.cpython-313.pyc
routes/Auth/__pycache__/register_routes.cpython-313.pyc
routes/Auth/__pycache__/login_routes.cpython-313.pyc
static/uploads/cvs/SBM_FINAL.pdf
utils/__pycache__/decorators.cpython-313.pyc
utils/__pycache__/directory_configs.cpython-313.pyc
utils/__pycache__/MailConfig.cpython-313.pyc
utils/__pycache__/template_helpers.cpython-313.pyc
.env
venv/