# requirements.txt (NOT RECOMMENDED)
altgraph
appnope
asgiref
asttokens
beautifulsoup4
bidict
blinker
bottle
Brotli
build
certifi
cffi
charset-normalizer
click
comm
cssselect2
customtkinter
darkdetect
debugpy
decorator
Django
dnspython
email_validator
executing
Faker
Flask
Flask-Admin
flask-cors
Flask-Login
Flask-Mail
Flask-MySQL
flask-sock
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
fonttools
h11
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
legacy-cgi
macholib
MarkupSafe
matplotlib-inline
mutagen
mysql-connector-python
nest-asyncio
packaging
parso
pexpect
pillow
pip-tools
platformdirs
prompt_toolkit
proxy_tools
psutil
psycopg2
ptyprocess
pure_eval
pycparser
pydyf
pygame
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMySQL
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyobjc-framework-Security
pyobjc-framework-WebKit
pyphen
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
pywebview
pyzmq
RapidFuzz
redis
requests
setuptools
simple-websocket
six
soupsieve
spotipy
SQLAlchemy
sqlparse
stack-data
syncedlyrics
tinycss2
tinyhtml5
tornado
traitlets
Turbo-Flask
typing_extensions
tzdata
urllib3
wcwidth
weasyprint
webencodings
Werkzeug
wheel
wsproto
WTForms
yt-dlp
zopfli
gunicorn